.skillSection{
    background: #000;
    color: white;
    padding-bottom: 75px;
}
.skill-para{
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 30px;
}
hr{
    background: red;
    width: 30%;
}
hr#skillhr {
    width: 40%;
    margin-top: -15px;
}